/*This '#' calls the id of the HTML element you wanna control style for*/
/*full details of CSS properties is here.*/
#sidepanel{
    position:absolute;
    height:100%;
    width:20%;
    left:0;
    z-index:10;
}

#title {
  position:absolute;
  left:2%;
  top:1%;
  width:96%;
  font-size:24px;
  font-family:Roboto;
  z-index: 40;
}

#description {
  position:absolute;
  width:96%;
  left:2%;
  top:10%;
  font-size:14px;
  font-family:Roboto;
  z-index: 40;
}

#logo {
  position:absolute;
  width:40%;
  left:4%;
  bottom:5%;
  z-index: 40;
}
