/*This '#' calls the id of the HTML element you wanna control style for*/
/*full details of CSS properties is here.*/
.topbar{
  position:absolute;
  top:0;
  width:100%;
  height:3%;
  background-color: #85C1E9;
  /*z-index:30;*/
}


.topbuttons {
  position:absolute;
  right:1%;
  top:5%;
  width:15%;
  z-index:10;
}


#aboutbutton {
  position:relative;
  right:50%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin:1%;
  background-color: #85C1E9;
  border-color: white;
  border-style: none;
  z-index: 10;
  color: white;
}

#databutton {
  position:relative;
  right:30%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin:1%;
  background-color: #85C1E9;
  border-color: white;
  border-style: none;
  z-index: 10;
  color: white;
}

#contactbutton {
  position:relative;
  right:10%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin:1%;
  background-color: #85C1E9;
  border-color: white;
  border-style: none;
  z-index: 10;
  color: white;
}

#title {
  position:relative;
  left:1%;
  top:4%;
  font-size:27px;
  font-family:'Roboto', sans-serif;
  font-weight: lighter;
  /*color:#85C1E9;*/
  z-index: 40;
  margin: 2%;
}

#description {
  position:relative;
  left:1%;
  top:5%;
  font-size:14px;
  font-family:'Roboto', sans-serif;
  font-weight: light;
  z-index: 40;
  margin: 2%;
}

.customize{
  position:relative;
  top:10%;
  margin:4%;
  font-size:14px;
  font-family:'Roboto', sans-serif;
  font-weight: bold;
}

.thresholdinput{
  width:30%;
}

.option{
  position: relative;
  top: 8%;
  margin:4%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

#location3{
  width:78%;
}

#location4{
  width:78%;
}

.control{
  position:relative;
  left:0;
  top:10%;
  margin:4%;
}

.hint{
  position:absolute;
  top:4%;
  right:8%;
  font-family: inherit;
  font-style: italic;
  font-size:14px;
  color:rgba(0, 0, 0, .8);
  word-break: auto;
  z-index:50;
}

#showmap{
  position:relative;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  top:80%;
  /*width:25%;*/
  margin:1%;
  z-index: 40;
}

#reset{
  position:relative;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  top:80%;
  /*width:25%;*/
  margin:1%;
  z-index: 40;
}



.chartsarea{
  position:relative;
  left:0;
  top:10%;
  /* height:80%; */
  /* margin:4%; */
}

#myChart{
  position:relative;
  margin:auto;
  /* width:100%;
  height:200%; */
}

#reportbutton{
  position:relative;
  top:10%;
  left:30%;
  /* margin:auto; */
}



.dropdown1{
  position:absolute;
  right: 36%;
  top:3.9%;
  z-index:50;
}

.dropdown2{
  position:absolute;
  left:24%;
  top:4%;
  z-index: 50;
}

#dropdownMenu1{
  /*font-family:'Roboto',sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

#dropdownMenu2{
  /*font-family:'Roboto',sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}




div.description{
  position:absolute;
  top:75%;
  bottom:0;
  right:0;
  width:80%;
  background-color: #85C1E9;
  filter:alpha(opacity=30);
  z-index: 30;

}

.hazards{
  position:absolute;
  width:33%;
  height:100%;
  background-color: #85C1E9;
}
#destext1{
  position:relative;
  font-size:14px;
  color:#ECF0F1;
  font-family:'Roboto',sans-serif;
  font-weight:lighter;
  margin:2%;
  z-index:60;
  padding:2%;
}

#hreport{
  position:absolute;
  bottom:8%;
  left:60%;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter
}

.impacts{
  position:absolute;
  left:33%;
  width:33%;
  height:100%;
  background-color: #3498DB;
}

#destext2{
  position:relative;
  font-size:14px;
  color:#ECF0F1;
  font-family:'Roboto',sans-serif;
  font-weight:lighter;
  margin:2%;
  z-index:60;
  padding:2%;
}

#ireport{
  position:absolute;
  bottom:8%;
  left:60%;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter
}


.reporting{
  position:absolute;
  right:0;
  width:34%;
  height:100%;
  background-color: #2874A6;
}

#destext3{
  position:relative;
  font-size:14px;
  color:#ECF0F1;
  font-family:'Roboto',sans-serif;
  font-weight:lighter;
  margin:2%;
  z-index:60;
  padding:2%;
}

#areport{
  position:absolute;
  bottom:8%;
  left:60%;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter
}

/*.download{
  position:absolute;
  top:85%;
  width:80%;
  height:15%;
  background-color:#85C1E9;
  border-color: #85C1E9;
  border-style: solid;
}*/


/*.reportitle{
  position:relative;
  left:1%;
  top:4%;
  font-size:15px;
  font-family:'Roboto', sans-serif;
  font-weight: bolder;
  z-index: 20;

}*/

/*.reportype{
  position:relative;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin:1%;
}

#download1{
  position:absolute;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  right:18%;
  width:25%;
  margin:1%;
  z-index: 40;
}

#download2{
  position:absolute;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  right:18%;
  width:25%;
  margin:1%;
  z-index: 40;
}

#download3{
  position:absolute;
  font-family: 'Roboto condensed', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  right:18%;
  width:25%;
  margin:1%;
  z-index: 40;
}*/

#logo {
  position:absolute;
  width:7%;
  left:1%;
  bottom:3%;
  z-index: 40;
}

#clientlogo {
  position:absolute;
  width:6%;
  left:11%;
  bottom:3%;
  z-index: 40;
}


.legend{
  position:absolute;
  bottom:10%;
  left:22%;
  width:11%;
  height:25%;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  color:inherit;
  background-color: rgba(21, 40, 54, .1);
  padding: 1%;
  border: 1.5px solid inherit;
  z-index: 70;
}

.label1{
  display:inline-block;
  font-weight: lighter;
}

#fill1{
  position:relative;
  right:5px;
  background-color:#58D68D;
  height:10px;
  width:20px;
}

#fill2{
  position:relative;
  right:5px;
  background-color:#45B39D;
  height:10px;
  width:20px;
}

#fill3{
  position:relative;
  right:5px;
  background-color:#5DADE2;
  height:10px;
  width:20px;
}

#fill4{
  position:relative;
  right:5px;
  background-color:#DC7633;
  height:10px;
  width:20px;
}

#fill5{
  position:relative;
  right:5px;
  background-color:#922B21;
  height:10px;
  width:20px;
}


.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
